{% extends 'base.html.twig' %}

{% block body %}
    <h1>Página o elemento no encontrado</h1>
    <p>La página o el elemento buscado no se encuentra en la plataforma. Por favor asegúrese que la dirección introducida es correcta.</p>

{% endblock %}