{% extends ':custom:base.html.twig' %}
{% block title %}StudioZentro - Presupuesto{% endblock %}

{% block content %}
    <div class="content-top-top">
        <div class="container">
            <div class="content-top text-white-div">
                <div class="col-md-12 content-left animated wow fadeInLeft mb-3" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h1>Gracias por su consulta</h1>
                </div>

                <h2>Le contestaremos en la mayor brevedad posible</h2>
                <div class="clearfix"> </div>
            </div>
        </div>
{% endblock %}