{% extends ':custom:base.html.twig' %}

{% block content %}
    <div class="content-top-top">
        <div class="container">
            <div class="content-top">
                <div class="row mt-5">
                    <div class="col col-6 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form role="form" action="contenido/sendemail.php" method="post">
                                    <div class="form-group float-label-control">
                                        <label for="">Nombre</label>
                                        <input name="nombre" type="text" class="form-control" placeholder="Nombre" value="">
                                    </div>
                                    <div class="form-group float-label-control">
                                        <label for="direccion">Dirección</label>
                                        <input name="direccion" type="text" class="form-control" placeholder="Dirección" value="">
                                    </div>
                                    <div class="form-group float-label-control">
                                        <label for="email">Email</label>
                                        <input name="email" type="email" class="form-control" placeholder="Email" value="">
                                    </div>
                                    <div class="form-group float-label-control">
                                        <label for="codigo">Código postal</label>
                                        <input name="codigo" type="text" class="form-control" placeholder="Código postal" value="">
                                    </div>
                                    <div class="form-group float-label-control">
                                        <label for="telefono">Teléfono</label>
                                        <input name="telefono" type="text" class="form-control" placeholder="Teléfono" value="">
                                    </div>
                                    <div class="form-group float-label-control">
                                        <label for="comentarios">Qué necesitas</label>
                                        <textarea  name="comentarios" class="form-control" placeholder="Qué necesitas" rows="5" value=""></textarea>
                                    </div>
                                    <div class="col align-self-center">
                                        <input type="checkbox" name="terminos">
                                        <a href="?contenido=condiciones-generales">Acepto los términos y condiciones.</a>
                                        <br><br>
                                        <div class='g-recaptcha pull-left' data-sitekey='6Ld1BSEUAAAAAEbilQ35NsK-SnQTRmx95rkdzJt8'>
                                        </div><br>
                                        <button type="submit" class="btn btn-info pull-right btn-contacto btn-lg" formnovalidate><i class="fa fa-envelope"></i> Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $.fn.floatLabels = function (options) {
                // Settings
                var self = this;
                var settings = $.extend({}, options);
                // Event Handlers
                function registerEventHandlers() {
                    self.on('input keyup change', 'input, textarea', function () {
                        actions.swapLabels(this);
                    });
                }
                // Actions
                var actions = {
                    initialize: function() {
                        self.each(function () {
                            var $this = $(this);
                            var $label = $this.children('label');
                            var $field = $this.find('input,textarea').first();
                            if ($this.children().first().is('label')) {
                                $this.children().first().remove();
                                $this.append($label);
                            }
                            var placeholderText = ($field.attr('placeholder') && $field.attr('placeholder') != $label.text()) ? $field.attr('placeholder') : $label.text();
                            $label.data('placeholder-text', placeholderText);
                            $label.data('original-text', $label.text());
                            if ($field.val() == '') {
                                $field.addClass('empty')
                            }
                        });
                    },
                    swapLabels: function (field) {
                        var $field = $(field);
                        var $label = $(field).siblings('label').first();
                        var isEmpty = Boolean($field.val());
                        if (isEmpty) {
                            $field.removeClass('empty');
                            $label.text($label.data('original-text'));
                        }
                        else {
                            $field.addClass('empty');
                            $label.text($label.data('placeholder-text'));
                        }
                    }
                }
                // Initialization
                function init() {
                    registerEventHandlers();
                    actions.initialize();
                    self.each(function () {
                        actions.swapLabels($(this).find('input,textarea').first());
                    });
                }
                init();
                return this;
            };
            $(function () {
                $('.float-label-control').floatLabels();
            });
        });
    </script>
{% endblock %}