<!--footer-->
<div class="footer">
    <div class="container">
        <div class="footer-head">
            <div class="col-md-8 footer-top animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                <p>
                    <span> Diseño integral de cocinas.</span>
                    <span> Horario (L-V: 10-14 16.30-20, S:10-14 (previa cita))</span>
                    <span> Calle Viriato 53 (Equina Alonso Cano) - 28010 Madrid. </span>
                    <span> Teléfono: XXXXXXXXXXXXXXXXX</span>
                </p>
            </div>
            <div class="col-md-4 footer-bottom  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                <h2>¡Síguenos!</h2>
                <label><i class="glyphicon glyphicon-menu-up"></i></label>
                <p>Conoce más sobre nosotros en las redes sociales.</p>
                <ul class="social-ic">
                    <li><a href="https://www.facebook.com/studiozentro"><i class="ic3"></i></a></li>
                    <li><a href="https://www.instagram.com/restaulandiadino/"><i class="ic1"></i></a></li>
                    <li><a href="mailto:info@studiozentro.com"><i class="fa fa-envelope fa-2x social-ic-icon"></i></a></li>
                </ul>

            </div>
            <div class="clearfix"> </div>

        </div>
        <p class="footer-class animated wow bounce" data-wow-duration="1000ms" data-wow-delay="500ms">&copy; {{ "now"|date("Y") }} StudioZentro. Design by  <a href="https://cowabi.com/" target="_blank">Cowabi LTD</a> </p>
    </div>
</div>
<!--//footer-->