{% extends ':custom:base.html.twig' %}

{% block header %} header {% endblock %}

{% block slider %}
    {% include ':custom:slider.html.twig' %}
{% endblock %}

{% block content %}
    <!--content-->
    <div class="content" id="content-down">
        <div class="content-top-top">
            <div class="container">
                <div class="content-mid">
                    <div class="col-md-4 food-grid animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class=" hover-fold">
                            <h4>Cocinas</h4>
                            <div class="top">
                                <div class="front face"></div>
                                <div class="back face">
                                    <p>¡¡¡ Haz tu sueño realidad !!!</p>
                                </div>
                            </div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div class="col-md-4 food-grid animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class=" hover-fold">
                            <h4>Electrodomésticos</h4>
                            <div class="top">
                                <div class="front face front1"></div>
                                <div class="back face">
                                    <p>Nuestros proveedores son los más prestigiosos fabricantes</p>
                                </div>
                            </div>
                            <div class="bottom bottom1"></div>
                        </div>
                    </div>
                    <div class="col-md-4 food-grid animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class=" hover-fold">
                            <h4>Encimeras</h4>
                            <div class="top">
                                <div class="front face front2"></div>
                                <div class="back face">
                                    <p>El lugar donde realmente trabajas</p>
                                </div>
                            </div>
                            <div class="bottom bottom2"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
                <div class="col-md-8 food-grid animated wow fadeInLeft is-fullwidth" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h2 class="text-white">FINANCIACIÓN GRATUITA HASTA 12 MESES SIN INTERESES NI COMISIONES</h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}