{% extends ':custom:base.html.twig' %}
{% block title %}StudioZentro - Promociones  de cocinas completas instaladas en Madrid{% endblock %}
{% block descripcion %}Promociones 2019 Madrid en cocinas completamente instaladas en tu casa desde 1490 euros {% endblock %}
{% block extra %}
    <style type="text/css">
    /*
    Side Navigation Menu V2, RWD
    ===================
    License:
    https://goo.gl/EaUPrt
    ===================
    Author: @PableraShow

    */

    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

    body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#A7A1AE;
    background-color:#1F2739;
    }

    h1 {
    font-size:3em;
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #4DC3FA;
    }

    h2 {
    font-size:1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #FB667A;
    }

    h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
    }

    .blue { color: #185875; }
    .yellow { color: #FFF842; }

    .containert th h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    color: wheat;
        margin-top: 0.3em;
    }

    .containert td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    }

    .divtable {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .containert {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    }

    .containert td, .containert th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;
    }

    /* Background-color of the odd rows */
    .containert tr:nth-child(odd) {
    background-color: #323C50;
    }

    /* Background-color of the even rows */
    .containert tr:nth-child(even) {
    background-color: #2C3446;
    }

    .containert th {
    background-color: #1F2739;
    }
    .containert tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
    }

    .containert td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
    }

    @media (max-width: 800px) {
    .containert td:nth-child(4),
    .containert th:nth-child(4) { display: none; }
    }
    </style>
{% endblock %}
{% block content %}
    <div class="content-top-top">
        <div class="container">
            <div class="content-top text-white-div">
                <div class="col-md-12 content-left animated wow fadeInLeft mb-3" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h1>Promociones</h1>
                </div>

                <p class="animated wow fadeInLeft mb-3" data-wow-duration="1000ms" data-wow-delay="500ms">
                </p>
            </div>

            <div class="divtable">

                <table class="containert">
                    <thead>
                    <tr>
                        <th>
                            <img src="{{ asset('images/promos/excelent.JPG') }}"  title="Excelence" alt="Excelence">
                            <h1>Pack Excellent</h1></th>
                        <th>
                            <img src="{{ asset('images/promos/premium.JPG') }}"  title="premium" alt="premium">
                            <h1>Pack Premium</h1>
                        </th>
                        <th>
                            <img src="{{ asset('images/promos/luxury.JPG') }}"  title="luxury" alt="luxury">
                            <h1>Pack Luxury</h1>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Desde 1490€ a 2490€</td>
                        <td>Desde 2490€ a 3490€</td>
                        <td>Desde 3490€</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>MUEBLES DE COCINA</b></td>
                        <td><b>MUEBLES DE COCINA</b></td>
                        <td><b>MUEBLES DE COCINA</b></td>
                    </tr>
                    <tr>
                        <td>Laminado</td>
                        <td>Laminado</td>
                        <td>Lacado</td>
                    </tr>
                    <tr>
                        <td>DM</td>
                        <td>DM</td>
                        <td>Madera</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Polilaminado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>ENCIMERAS</b></td>
                        <td><b>ENCIMERAS</b></td>
                        <td><b>ENCIMERAS</b></td>
                    </tr>
                    <tr>
                        <td>Silestone</td>
                        <td>Silestone</td>
                        <td>Silestone</td>
                    </tr>
                    <tr>
                        <td>Granito nacional</td>
                        <td>Granito Importado</td>
                        <td>Porcelanico NEOLITH</td>
                    </tr>
                    <tr>
                        <td>Laminado</td>
                        <td>Porcelanico NEOLITH</td>
                        <td>Dekton</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>SISTEMA APERTURA</b></td>
                        <td><b>SISTEMA APERTURA</b></td>
                        <td><b>SISTEMA APERTURA</b></td>
                    </tr>
                    <tr>
                        <td>Tirador</td>
                        <td>Tirador</td>
                        <td>Tirador</td>
                    </tr>
                    <tr>
                        <td>Uñero</td>
                        <td>Uñero</td>
                        <td>Uñero</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Gola</td>
                        <td>Gola</td>
                    </tr>
                    <tr>
                        <td><small>Montaje,transporte e IVA incluidos!!</small></td>
                        <td><small>Montaje,transporte e IVA incluidos!!</small></td>
                        <td><small>Montaje,transporte e IVA incluidos!!</small></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br><br>
            <p class="animated wow fadeInLeft mb-3 " data-wow-duration="1000ms" data-wow-delay="500ms" style="text-align: center;">
                PRECIOS PARA COCINAS DE 3.00 CM. LINEALES
            </p>

            <div class="clearfix"> </div>
        </div>
    </div>
{% endblock %}

