{% extends ':custom:base.html.twig' %}

{% block content %}
    <div class="content-top-top">
        <div class="container">
            <div class="content-top">
                <div class="col-md-12 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h3 class="rojo">¡¡ NO PIERDAS DE VISTA NUESTRAS PROMOCIONES Y OFERTAS !!</h3>
                </div>
                <div class="clearfix"> </div><br>
                <div class="col-md-12 content-right animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h3 class="letra-carta">Síguenos en Twitter y dale a "Me gusta" en Facebook para enterarte de nuevos eventos, ofertas y promociones.</h3>
                    <div class="clearfix"> </div><br>

                    <div class="col-md-6 content-right animated wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="700ms">
                        <a href="https://www.facebook.com/Restaulandia?ref=hl" class="btn btn-default center-block" role="button">Me gusta en Facebook</a>
                    </div>

                    <div class="col-md-6 content-left animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="1200ms">
                        <a href="https://twitter.com/Restaulandia" class="btn btn-default center-block" role="button">Siguenos en Twitter</a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--services-->
    <div class="services">
        <div class="container">
            <div class="services-top">
                <div class="col-md-12 animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h2 class="amarillo sombra kid-font2">Sube las fotografías y vídeos que hagas de tus hijos en Restaulandia a nuestra página de Facebook y participa en un gran concurso a la fotografía y el vídeo más divertido.</h2>
                    <img class="camara" src="{{ asset('images/camara.png') }}" title="Eventos personalizados" alt="Eventos personalizados en el restaulandia">
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

{% endblock %}