{% extends ':custom:base.html.twig' %}
{% block title %}StudioZentro - Quienes somos{% endblock %}
{% block content %}
    <div class="content-top-top">
        <div class="container">
            <div class="content-top">
                <div class="col-md-12 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h1>Quienes somos</h1>
                </div>
                <div class="clearfix"> </div><br>
                CON MAS DE 25 AÑOS DE EXPERIENCIA STUDIO ZENTRO ES UNA EMPRESA DEDICADA
                EXCLUSIVAMENTE AL DESARROLLO DE COCINAS,DISEÑADAS POR EXPERTOS
                PROFESIONALES.

                 DISTRIBUIDORES DE LAS MAS PRESTIGIOSAS MARCAS EN CUANTO A
                MOBILIARIO,ENCIMERAS Y ELETRODOMESTICOS.

                 OFRECEMOS LA VENTAJA DE TENER UN UNICO INTERLOCUTOR PARA CADA PROYECTO
                Y ASI PERSONALIZARLO AÚN MAS

                 TENEMOS VALORES EN CUANTO AL PROYECTO DE LA COCINA,TALES COMO ,LA
                CALIDAD DEL PRODUCTO,CREATIVIDAD DEL DISEÑO,FUNCIONALIDAD Y SOBRE TODO
                SERIEDAD A LA HORA DE LLEVARLO A CABO.

                 CUIDAMOS MUCHISIMO EL DETALLE DESDE EL PRIMER CONTACTO.ESTUDIO DEL
                PROYECTO,DISEÑO Y SOBRE TODO Y MUY IMPORTANTE, EL MONTAJE Y TERMINACION

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
{% endblock %}