{% extends ':custom:base.html.twig' %}
{% block title %}StudioZentro - Quienes somos{% endblock %}
{% block content %}
    <div class="content-top-top">
        <div class="container">
            <div class="content-top text-white-div">
                <div class="col-md-12 content-left animated wow fadeInLeft mb-3" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h1>Quienes somos</h1>
                </div>

                <p class="animated wow fadeInLeft mb-3" data-wow-duration="1000ms" data-wow-delay="500ms">
                    CON MAS DE 25 AÑOS DE EXPERIENCIA STUDIO ZENTRO ES UNA EMPRESA DEDICADA
                    EXCLUSIVAMENTE AL DESARROLLO DE COCINAS, DISEÑADAS POR EXPERTOS
                    PROFESIONALES:
                </p>

                <ul>
                    <li class="animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        DISTRIBUIDORES DE LAS MAS PRESTIGIOSAS MARCAS EN CUANTO A
                        MOBILIARIO, ENCIMERAS Y ELECTRODOMÉSTICOS.
                    </li>
                    <li class="animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        OFRECEMOS LA VENTAJA DE TENER UN ÚNICO INTERLOCUTOR PARA CADA PROYECTO
                        Y ASÍ PERSONALIZARLO AÚN MAS
                    </li>

                    <li class="animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        TENEMOS VALORES EN CUANTO AL PROYECTO DE LA COCINA, TALES COMO, LA
                        CALIDAD DEL PRODUCTO, CREATIVIDAD DEL DISEÑO, FUNCIONALIDAD Y SOBRE TODO
                        SERIEDAD A LA HORA DE LLEVARLO A CABO.
                    </li>

                    <li class="animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
                        CUIDAMOS MUCHÍSIMO EL DETALLE DESDE EL PRIMER CONTACTO. EMPEZANDO POR EL ESTUDIO DEL
                        PROYECTO, DISEÑO Y SOBRE TODO Y MUY IMPORTANTE, EL MONTAJE Y TERMINACIÓN
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
{% endblock %}