<div class="banner">
    <p class="animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">El restaurante para los niños en Madrid</p>
    <label></label>
    <h4 class="animated wow fadeInTop" data-wow-duration="1000ms" data-wow-delay="500ms">
        ¡
        <span class="rojo">Come</span>
        <span class="celeste">como</span>
        <span class="rojo">en casa</span>
        <span class="amarillo"></span>
        <span class="celeste">y pásalo</span>
        <span class="amarillo">en grande</span>
        !
    </h4>
    <a class="scroll down" href="#content-down"><img src="{{ asset('images/down.png') }}" alt=""></a>
</div>
