<div class="banner">
    <p class="animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">Cocinas de diseño a medida</p>
    <label></label>
    <h4 class="animated wow fadeInTop" data-wow-duration="1000ms" data-wow-delay="500ms">
        - Elegancia y lujo -
    </h4>
    <a class="scroll down" href="#content-down"><img src="{{ asset('images/down.png') }}" alt=""></a>
</div>
