body{
  background: #232322eb;
}

body .toggle-menu li{
  font-family: 'Amatic SC', bolder;
  font-weight: 800;
}

.navicon {
  background: transparent;
  position: relative;
  height: 30px;
  display: inline-block;
  z-index: 99;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  width:50px;
}

.navicon:before, .navicon:after {
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: "";
  height: 2px;
  left: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  width: 35px;
}

.navicon:before {
  box-shadow: #fff 0 9px 0 0;
  position: absolute;
  top: 0;
}

.navicon:after {
  position: absolute;
  top: 18px;
}

.navicon--active {
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
}

.navicon--active:before {
  box-shadow: transparent 0 0 0 0;
  top: 15px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.navicon--active:after {
  top: 15px;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.toggle {
  display: block;
  margin: 20px auto;
  width: 30%;
  background-color:rgb(14, 92, 67);
  padding: 15px;
  display: block;
  opacity: 0;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  position:absolute;
  left:35%;
}

.toggle--active {
  display: block;
  opacity: 1;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  z-index:999;
}


.toggle-menu li {
  width: 50%;
  display: block;
  margin: 10px auto;
}

.toggle-menu li a {
  text-decoration: none;
  /*color: #fff;*/
  display: block;
  text-align: center;
  font-size: 35px;
  /*text-transform: uppercase;*/
  border-bottom: 2px solid transparent;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  font-weight: 800;
  text-shadow: 4px 4px 5px rgb(0, 0, 0);
}

.toggle-menu li a span { text-transform: lowercase; }

.toggle-menu li a:hover,.toggle-menu li a.active {
  color:#97824B;
  border-bottom: 2px solid #97824B;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  font-weight: 700;
}
@media(max-width:991px){
.toggle {
    width: 50%;
    left: 25%;
}
}
@media(max-width:414px){
.navicon {
    width: 35px;
}
.toggle {
    width: 70%;
    left: 15%;
	 padding: 10px;
}
.toggle-menu li a {
    font-size: 15px;
    font-family: 'Amatic SC', bolder;
    font-weight: 800;
  font-size: 30px;
}

.content-top h1 {
  margin-top: 2.2em !important;
}
}

@media (min-width: 768px) {}
  .navbar-nav > li {
    float: left;
    margin-left: 1em;
}

.content-top h1 {
  color: white;
  margin-top: 1em;
  text-align: center;
  font-family: Gotham;
  text-transform: uppercase;
}

.text-white-div {
    color: white;
    font-family: Gotham;
    text-align: justify;
    min-height: 50%;
}

.text-white-div h1, li{
  margin-bottom: 1em;
}
.text-white-div p{
  margin-bottom: 2em;
  margin-left: -2em;
}
.title-white {
  color: white !important;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

h2.text-white, p.text-white {
  color: white !important;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-align: center;
  margin-top: 1em;
  width: 100%;
}

.is-fullwidth {
  width: 100%;
}

@media(min-width:1100px){
  .text-white-div {
    width: 80%;
    margin-left: 10%;
  }
}
.alert {
  position: absolute;
  border-color: #faebcc !important;
  top: 8em;
  color: red;
  text-align: center;
  width: 100%;
  font-size: 2em;
}

/*.content-mid.aviso {*/
/*  margin: 0 auto;*/
/*  color: wheat;*/
/*  font-size: 1em;*/
/*  font-family: Gotham;*/
/*  width: 70%;*/
/*  margin-bottom: 3em;*/
/*  margin-top: -1em;*/

/*  padding: 1em;*/
/*  background: #4e4e4d;*/
/*  border: 1px solid #ccc;*/
/*  box-shadow: 1px 1px 2px #fff inset,*/
/*  -1px -1px 2px #fff inset;*/
/*  border-radius: 3px/6px;*/

/*  -webkit-box-shadow: rgba(0, 0, 0,.60) 8px 8px 4px;*/
/*}*/
