{% extends ':restaulandia:base.html.twig' %}

{% block extra %}
    <link rel="stylesheet" href="{{ asset('css/fluid-gallery.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fluidgalleryaux.min.css') }}">
{% endblock %}

{% block content %}
    <div class="content" id="content-down">
        <div class="content-top-top">
            <div class="container">
                <div class="content-top">
                    <div class="col-md-12 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>
                            <span class="rojo">Galería</span>
                            <span class="celeste">de</span>
                            <span class="amarillo">vídeos</span>
                        </h3>

                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <span class="letra-carta">ENVÍANOS TUS VÍDEOS Y LOS SUBIREMOS EN NUESTRA WEB. (reservas@restaulandia.com)</span>
                    </div>
                    <div class="clearfix"> </div><br><br>

                    <div class="col-md-12 content-right animated wow fadeInLeft" data-wow-duration="2000ms" data-wow-delay="1500ms">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2a9YPCp5UbE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>

                    <div class="clearfix"> </div><br><br>

                    <div class="col-md-12 content-right animated wow fadeInLeft" data-wow-duration="2000ms" data-wow-delay="1500ms">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QxhkyZoNhiw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>

                    <div class="clearfix"> </div><br><br>

                    <div class="col-md-12 content-right animated wow fadeInLeft" data-wow-duration="2000ms" data-wow-delay="1500ms">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jBnl4RuUSDA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>

                    <div class="clearfix"> </div><br><br>


                    <div class="col-md-12 content-left animated wow fadeInLeft" data-wow-duration="2000ms" data-wow-delay="3500ms">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Z8dcOVva_mM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="clearfix"> </div><br>

                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/fluidgalleryaux.min.js') }}"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
{% endblock %}

